<h2>Reviews as on <%= formatDate(params[:date]) %></h2>
<h5>Click on column headers to sort, shift-click for multi sort</h5>
<% review_status_names = { 0 => "Deleted", 1 => "Published", 2 => "Draft", 3 => "Status 3" } %>
<div id="chart_data" class="span12">
  <table class="table table-striped" id="review_data">
    <thead>
    <tr>
      <th>Sr No.</th>
      <th>User</th>
      <th>Review Type</th>
      <th>Status</th>
      <th>Establishment</th>
      <th>Title</th>
      <th>Description</th>
      <th>Buzz Rating</th>
      <th>Service Rating</th>
      <th>Decor Rating</th>
      <th>Timestamp</th>
      <th>IP Address</th>
    </tr>
    </thead>
    <tbody>

    <% count_total = 1 %>
    <% @reviews_daily_data.each { | data | %>
        <tr>
          <td>
            <%= count_total %>
          </td>
          <td>
            <%= raw "<a href='mailto:#{data.rev_user_email}'>#{data.rev_user_name}</a> (<a href='http://timescity.com/profile/#{data.rev_user_id}'>#{data.rev_user_id})</a>" %>
          </td>
          
		  <td>
		      <%= (data.type == 1) ? "Establishment" : "Movies" %>
		  </td>  

		  <td>
		      <%= review_status_names[data.status] %>
		  </td>  

	      <td>
              <%= raw (data.type == 1) ? display_establishment(data.rev_est_id, data.rev_estname) : display_movie(data.rev_est_id, data.rev_estname) %>
            <% count_total += 1 %>
          </td>

          <td>
            <%= data.rev_title  %>
          </td>
          <td>
            <%= data.rev_desc  %>
          </td>
          <td>
            <%= data.rev_rate_1  %>
          </td>
          <td>
            <%= data.rev_rate_2  %>
          </td>
          <td>
            <%= data.rev_rate_3  %>
          </td>
          <td>
            <%= display_date(data.insertdate)  %>
          </td>

          <td>
            <%= data.IP  %>
          </td>

        </tr>

    <%  } %>
    </tbody>
  </table>
</div>

<script language="javascript">
$(document).ready(function(){
$('#review_data').dataTable({
    "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>"
});
});
</script>