<% content_for :title, "Timescity Scorecard | #{params[:controller].titlecase} | #{params[:action].titlecase}" %>


<div id="chartdiv" class="span9">
  Timescity Chart.

</div>     <!- end of chartdiv ->

<div id="chart_data" class="span2">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Duration</th>
      <th>Activated Count</th>
      <th>Not Activated Count</th>
      <th>Deleted Count</th>
    </tr>
    </thead>
    <tbody>

	    <% a_count_total = 0 %>
	    <% n_count_total = 0 %>
	    <% d_count_total = 0 %>
    <% @monthly_data.each { | k, v | %>
        <tr>
          <td>
            <%= k.blank? ? 'N/A' : formatDate(k) %>
          </td>
          <td style="text-align: right;">
		 <%   a_number = v["Activated"].nil? ? 0 : v["Activated"][:total] %>

            <%= a_number %>
            <% a_count_total += a_number %>
          </td>
          <td style="text-align: right;">
	 		 <%   n_number = v["Not Activated"].nil? ? 0 : v["Not Activated"][:total] %>

	             <%= n_number %>
	             <% n_count_total += n_number %>
          </td>

          <td style="text-align: right;">
	 		 <%   d_number = v["Deleted"].nil? ? 0 : v["Deleted"][:total] %>

	             <%= d_number %>
	             <% d_count_total += d_number %>
          </td>

        </tr>

    <%  } %>
    </tbody>
    <thead>
    <tr>
      <th>Total</th>
      <th style="text-align: right;"><%= a_count_total %></th>
      <th style="text-align: right;"><%= n_count_total %></th>
      <th style="text-align: right;"><%= d_count_total %></th>
    </tr>
    </thead>
  </table>
</div>



<script type="text/javascript">
    var chart = new FusionCharts("/assets/fusionCharts/FCF_StackedColumn3D.swf", "ChartId", <%= PIE_CHARTS_WIDTH %>, <%= PIE_CHARTS_HEIGHT %>);
    chart.setDataXML('<%= raw @str_xml %>');


    chart.render("chartdiv");
</script>
