<% content_for :title, "Timescity Scorecard | #{params[:controller].titlecase} | #{params[:action].titlecase}" %>


<div id="chartdiv" class="span12">
  Timescity Chart.

</div>     <!- end of chartdiv ->

<div id="chart_data" class="span12">
  <table class="table table-striped">
    <thead>
    <tr>
		<th>&nbsp;</td>
			
	    <%	@data_for_xml.each do  |xmlKey, xmlDataRow| %>
 
	    <%= raw "<th>#{xmlKey}</th>"%>
 
		<% end %>
         
	 </tr> 
 
   <%   @list_to_loop.each do |value_name, color_to_use| %>
     
   <tr>
       <%= raw "<td>#{value_name}</td>" %>    
	   
       <%       @data_for_xml.each do  |xmlKey, xmlDataRow| 
       logger.debug("Hi : ")
       logger.debug(value_name)
             logger.debug( xmlDataRow) 
      
	         number = xmlDataRow[:value][value_name].nil? ? 0 : xmlDataRow[:value][value_name][:total] %>

			 <%= raw "<td>#{number}</td>" %>
			 
      <%       end %>
	   
	   <tr/>  
          
        <%   end %>
    
	   </table>
	 
	 
	 </div>



<script type="text/javascript">
    var chart = new FusionCharts("/assets/fusionCharts/FCF_StackedColumn3D.swf", "ChartId", <%= 800 %>, <%= 600 %>);
    chart.setDataXML('<%= raw @str_xml %>');


    chart.render("chartdiv");
</script>
