
<div id="chartdiv1" class="span5">
  Timescity Chart.

</div>     <!- end of chartdiv 1 ->

<div id="chartdiv2" class="span5">
  Timescity Chart.

</div>     <!- end of chartdiv 2 ->

<div id="chart_data1" class="span5">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Establishment City With GPS</th>
      <th>Count</th>
    </tr>
    </thead>
    <tbody>

    <% count_total = 0 %>
    <% @est_with_data.each { | k, v | %>
        <tr>
          <td>
            <%= k.blank? ? 'N/A' : k %>
          </td>
          <td style="text-align: right;">
            <%= v %>
            <% count_total += v %>
          </td>
        </tr>

    <%  } %>
    </tbody>
    <thead>
    <tr>
      <th>Total</th>
      <th style="text-align: right;"><%= count_total %></th>
    </tr>
    </thead>
  </table>
</div>

<div id="chart_data2" class="span5">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Establishment City Without GPS</th>
      <th>Count</th>
    </tr>
    </thead>
    <tbody>

    <% count_total2 = 0 %>
    <% @est_without_data.each { | k, v | %>
        <tr>
          <td>
            <%= k.blank? ? 'N/A' : k %>
          </td>
          <td style="text-align: right;">
            <%= v %>
            <% count_total2 += v %>
          </td>
        </tr>

    <%  } %>
    </tbody>
    <thead>
    <tr>
      <th>Total</th>
      <th style="text-align: right;"><%= count_total2 %></th>
    </tr>
    </thead>
  </table>
</div>

<script type="text/javascript">
    var chart = new FusionCharts("/assets/fusionCharts/FCF_Doughnut2D.swf", "ChartId1", 400, 300);
    chart.setDataXML('<%= raw @str_xml1 %>');
    chart.render("chartdiv1");

    var chart2 = new FusionCharts("/assets/fusionCharts/FCF_Doughnut2D.swf", "ChartId2", 400,300);
    chart2.setDataXML('<%= raw @str_xml2 %>');
    chart2.render("chartdiv2");
</script>
